<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog Board" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Blog Board">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="fixed top-0 left-0 right-0 border-b bg-white px-5 py-4 flex items-center gap-4">
      <%= link_to "Blog Board", root_path, class: "font-bold" %>
      <%= link_to "記事一覧", posts_path %>

      <% if user_signed_in? %>
        <%= link_to "新規投稿", new_post_path %>
        <%= link_to current_user.email, mypage_path %>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "会員登録", new_user_registration_path %>
      <% end %>
    </header>

    <main class="container mx-auto mt-28 px-5 flex flex-col gap-4">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
